<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <div class="pf_image">
      <ion-navbar transparent hideBackButton style="text-align: center">
        <ion-buttons style="position: absolute; left: -2vw; top: 2vw">
          <button icon-only menuToggle style="background-color : white;" >
            <ion-icon ios="ios-menu" md="md-menu" style=" width: 5vw !important;"></ion-icon>
          </button>
        </ion-buttons>
        <img src="assets/imgs/logo.png" style="width: 15vw;">
      </ion-navbar>
      <div class="pf_view">
        <img src={{profile.photoUrl}} class="profile" (click)="openProfile()">
        <div class="pr_name">{{profile.name}}</div>
        <div class="pr_role">{{profile.role}}</div>
      </div>
    </div>

    <ion-list no-border no-lines>
      <!--<ion-scroll scrollY="true" style="height: 78vh; width: 100%">-->
        <ion-item>
          <img src="assets/imgs/blank_profile.jpg"  style="width: 17.4vw; height: 17.4vw; border-radius: 10vw; padding : 2vw"  item-start>
          <ion-textarea type="text"  rows="4" style="margin-top: 2vw; font-family: Gotham"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-buttons style="margin-top: 5px">
            <button icon-only style="background-color: transparent" float-right>
              <ion-icon ios="ios-send" md="md-send" style="width: 8vw"></ion-icon>
            </button>
            <button icon-only transparent style="background-color: transparent" float-right>
              <ion-icon ios="ios-camera" md="md-camera" style="width: 8vw"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>

      <div style="background-color: #aaa; height: 0.3vw; width: 95%;margin-left: 2.5%"></div>
      <div class="item" *ngFor="let event of events;let i = index"  style="margin-top: 2vw">
          <img src="{{event.photoUrl}}"  style="width: 17.4vw; height: 17.4vw; border-radius: 10vw; padding : 2vw;position: absolute">
          <div style="font-weight: bold; margin-left: 20vw; font-family: Gotham; font-size : 2.5vw">{{event.name}}</div>
          <div style="font-size: 2.2vw; color: #8d8d8d;margin-left: 20vw">{{event.weeks}} weeks ago</div>
          <div style="font-size: 2.5vw; white-space: normal;margin-left: 20vw; font-family: Gotham">
            {{event.content}}
          </div>
          <div *ngIf="event.imgUrl!=''">
            <img src="{{event.imgUrl}}" style="margin-left: 20vw">
          </div>
          <div style="margin-left: 20vw">
            <ion-item no-lines>
              <ion-buttons style="margin-top: 3vw">
                <button ion-button float-left icon-only clear (click)="takeMeFavorite(i)" style="height: 5vw">
                  <ion-icon ios="ios-heart-outline" md="md-heart-outline" [ngStyle]="{'color': event.favor_flag=='1' ? '#F00': '#222'}" style="font-size: 3vw"></ion-icon>
                  <span style="font-size: 2vw; color: black">{{event.num_favor}} likes</span>
                </button>
                <button ion-button float-right icon-only clear (click)="takeMeComment(i)" style="height: 5vw;" >
                  <ion-icon ios="ios-text-outline" md="md-text" [ngStyle]="{'color': event.comment_flag=='1' ? '#f00': '#000'}" style="font-size: 3vw"></ion-icon>
                  <span style="font-size: 2vw; color: black">{{event.num_comments}} comments</span>
                </button>
              </ion-buttons>
            </ion-item>
          </div>
          <div style="background-color: #aaa; height: 0.3vw; width: 95%;margin-left: 2.5%">
          </div>
        </div>
      <!--</ion-scroll>-->
    </ion-list>

</ion-content>
