page-social {

  .toolbar-content .toolbar-content-md {
    margin-top: -5vw;
  }
  .pf_image {
    height: 30vw;
    margin: auto;
    z-index: 2;
    position: relative;
  }
  .pr_name {
    right : 5vw;
    left : auto;
    top : 23vw;
    position: absolute;
    font-size: 2.5vw;
  }
  [ion-fixed] {
    height: 100%;
  }
  .profile {
    width: 17vw;
    margin: 3vw 3vw 3vw 3.4vw;
    border-radius: 10vw;
    -webkit-border-radius:10vw;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .pr_role {
    right : 5vw;
    left : auto;
    top : 26vw;
    position: absolute;
    font-size: 2.5vw;
  }
  .pf_view {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 0;
    right: 0;
    background-image: url('../assets/imgs/profile_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
  }
  .label {
    margin: 0;
    min-height: 8vw;
  }
  .item {
    border: solid #dddddd;
    border-radius: 2px;
    border-width: 0;
    padding: 0 !important;
    margin-bottom: 0px;
    max-height: 100vh;
  }
  .input[type=text], .textarea {
    border-style: dotted;
    border-width: 2px;
    padding : 3px
  }
  .icon {
    font-size: 5vw; //Preferred size here
  }
}
