<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-scroll scrollY="true" style="height: 100%;">
    <div class="banner">
      <div class="clear_fix">
        <div class="ch_black">DIGITAL</div>
        <div class="ch_black">SCHOOL</div>
      </div>
      <div style="margin-left: 3vh"><span class="ch_blue">TRAIN</span></div>
      <span class="ch_blue">YOUR INNOVATION</span>
      <div style="text-align: center"><span class="ch_blue">MINDSET</span></div>
      <div class="ch_green">Zambon</div>
    </div>
    <div class="window">
      <ion-list no-border no-lines>
        <ion-item>
          <ion-label stacked class="my_label">Username</ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button item-end padding style="font-size: 4vw; height : 6vw" (click)="login()">Accedi</button>
        </ion-item>
      </ion-list>
    </div>
  </ion-scroll>

</ion-content>
