page-login {
  .banner {
    width: 100%;
    height: 55vw;
    padding : 5vw 10vw 2vw 10vw;
  }
  .window {
    width: 100%;
    height: 60vw;
    padding: 5vw 7vw;
    background-color: #c4d22e;
  }
  //.list .item {
  //}
  .label {
    margin: 20px 0 0 0;
    font-weight:bold;
  }
  .item {
    background : transparent;
    line-height: 3.5vw;
    border: solid #dddddd;
    //border-radius: 2px;
    border-width: 1.5px;
    padding: 0px 10px !important;
    margin-bottom: 0px;
    max-height: 45rem;
  }
  .input {
    background-color: white;
    font-size: 4vw;
  }
  //.my_label {
  //  margin-top: 4vw;
  //  font-size : 14vw;
  //  font-weight: bold;
  //}
  .ch_black {
    background-color: #222222;
    font-size: 10vw;
    color : white;
    font-weight: bold;
    padding: 0 2vw;
    line-height: 9vw;
    float : left;
    //display: border-box;
  }
  .ch_blue {
    background-color: #75c7dc;
    font-size: 7vw;
    color : white;
    padding : 0 1vh;
  }
  .ch_green {
    background-color: #c4d22e;
    font-size: 1.5vh;
    color : white;
    font-weight: 600;
    padding : 1vh 6vw;
    margin-right: 0vh;
    margin-left: auto;
    text-align: right;
    float : right;
  }
  .button {
    background-color: #a89b9b;
    color: black;
    font-size: 12vw;
    text-transform: none;
  }
  .clear_fix:before , .clear_fix:after{
    display : table;
    content : "";
    clear : both;
  }
}
