page-class {
  //.content {
  //  overflow: hidden;
  //  //font-family : Arial;
  //  //font-weight: bold;
  //}
  .pf_image {
    height: 25vw;
    margin: auto;
    z-index: 2;
    position: relative;
  }
  .item-inner {
    padding: 0!important;
  }
  .toolbar-content .toolbar-content-md {
    margin-top: -5vw;
  }
  .pf_view {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 0;
    right: 0;
    background-image: url('../assets/imgs/profile_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    z-index: 2;
  }
  .progress-outer {
    width: 100%;
    margin: 1vw 0 0 0;
    //text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
  }

  .progress-inner {
    min-width: 15%;
    //white-space: nowrap;
    overflow: hidden;
    padding: 2vw;
    font-size: 2vw;
    font-family : Arial;
    background-color: #4ec5d5;
  }
  .progress-side {
    position: absolute;
    font-size: 2vw;
    top : 0;
    color :  #4ec5d5;
    height: 100%;
    width: 5vw;
    margin: 3vw 0 0 3vw;
  }
  ul {
    padding: 0;
    width: 35vw;
    margin: 0!important;
    &.rating li {
      padding: 0.4vw 0.2vw !important;
      background: none;
      color: #FFF;

      ion-icon {
        font-size: 5vw;
      }
    }
  }
  .video {
    margin-top: 2vh;
    background-color: #4ec5d5;
    width: 100%;
    height: auto;
  }
  .TEST {
    width: 100%;
    height: 61vh;
  }
  .PDF {
    margin-top: 3vw;
    margin-bottom: 2vw;
    background-color: #4ec5d5;
    width: 100%;
    height: calc(100% - 52vw);
    padding: 2vw!important;
  }
  .list {
    top: 10vw;
  }
  .sel_test {
    height: 12vw;
    margin-top: 3vw;
    background-color: #4ec5d5;
    padding : 1vw 10px;
    color: white;
    font-size: 3vw;
  }
  .segment-button {
    height: 17vw!important;
  }
  .profile {
    width: 17vw;
    margin: 3vw 3vw 3vw 3.4vw;
    border-radius: 10vw;
    -webkit-border-radius:10vw;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .sel_question {
    height: 40vw;
    margin-top: 2vw;
    background-color: #4ec5d5;
    padding : 7vw 10px;
    color: white;
    font-size: 3vw;
  }
  .test_btn {
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    margin-left: 2vw;
    font-size: 5vw;
    background-color: #4ec5d5;
    color : black;
  }
  .label {
    margin: 0;
  }
  .item {
    border: solid #dddddd;
    border-radius: 2px;
    border-width: 1.5px;
    padding: 0 !important;
    margin-bottom: 0px;
  }
  .task_des {
    width: 60vw;
    height: 30vw;
    color: white;
    padding : 2vw;
    font-size: 3.5vw;
    margin : 0 !important;
  }
  .task_point {
    width : 38vw;
    height:  30vw;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 12vw;
    margin-right: 0 !important;
  }
  .icon {
    font-size: 5vw;
  }
}
