<!--
  Generated template for the ClassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="pf_image">
    <ion-navbar transparent hideBackButton style="text-align: center">
      <ion-buttons style="position: absolute; left: -2vw; top: 2vw">
        <button icon-only menuToggle style="background-color : white;" >
          <ion-icon ios="ios-menu" md="md-menu" style=" width: 5vw !important;"></ion-icon>
        </button>
      </ion-buttons>
      <img src="assets/imgs/logo.png" style="width: 15vw;">
    </ion-navbar>
    <div class="pf_view">
      <img src="assets/imgs/blank_profile.jpg" class="profile" (click)="openDashBoard()">
    </div>
  </div>
  <div *ngIf="index>0">
    <img src="assets/imgs/video_icon.png" style="height: 8vw; position: relative; left: 5vw; top:12vw;" item-start>
    <div ion-item style="background-color: #54c1d1; margin-left: 15vw; height: 15vw; width : 80vw;">
      <span *ngIf="index == 1" style="color: white; font-size: 3vw;font-family : Arial; margin-left: 3vw">VIDEO 1</span>
      <span *ngIf="index == 2" style="color: white; font-size: 3vw;font-family : Arial; margin-left: 3vw">TEST</span>
      <span *ngIf="index == 3" style="color: white; font-size: 3vw;font-family : Arial; margin-left: 3vw">PDF</span>
      <rating [(ngModel)]="rate"
              readOnly="true"
              max="5"
              emptyStarIconName="star-outline"
              halfStarIconName="star-half"
              starIconName="star"
              nullable="false"
              text-end
              item-end></rating>
    </div>

  </div>
  <div *ngIf="index == 1" class="video">
    <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer"
      style="width: 100%">
      <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
    </video>
  </div>
  <div *ngIf="index == 2" class="TEST">
    <div style="margin-left : 20vw; width: 80vw;height: 10vw; padding-top:2vw">
      <div style="font-size: 3.3vw; float: left; line-height: 8vw">Allenamenti</div>
      <button  class="test_btn">1</button>
      <button  class="test_btn">2</button>
    </div>
    <div class="sel_question">
      QUESTION<br>
      Test - sit amet, consectetur adipiscing elit. Test - sit amet,<br>
      consectetur adipiscing elit. Test - sit amet, consectetur
      <div style="margin-top: 15vw">
        1/9
      </div>
    </div>
    <div class="sel_test">
      Test - sit amet, consectetur adipiscing elit. Test - sit amet,
      consectetur adipiscing elit. Test - sit amet, consectetur
    </div>
    <div class="sel_test">
      Test - sit amet, consectetur adipiscing elit. Test - sit amet,
      consectetur adipiscing elit. Test - sit amet, consectetur
    </div>
    <div class="sel_test">
      Test - sit amet, consectetur adipiscing elit. Test - sit amet,
      consectetur adipiscing elit. Test - sit amet, consectetur
    </div>
    <div class="sel_test">
      Test - sit amet, consectetur adipiscing elit. Test - sit amet,
      consectetur adipiscing elit. Test - sit amet, consectetur
    </div>

  </div>
  <div *ngIf="index == 3" class="PDF" >
    <ion-scroll scrollY="true" style="width: 100%; height: 100%;background-color: #4ec5d5">
      <pdf-viewer [src]="pdfSrc"
                  [render-text]="true"
                  style="display: block;"
                  [autoresize]="true"
                  [original-size]="false"
      ></pdf-viewer>
    </ion-scroll>

  </div>
  <div *ngIf="index == 0" >
    <ion-segment [(ngModel)]="selector" color="secondary" >
      <ion-segment-button value="vocabulary">
        <img src="assets/imgs/voc_icon_r.png" *ngIf="selector=='vocabulary'" style="height: 8vw">
        <img src="assets/imgs/voc_icon_g.png" *ngIf="selector!='vocabulary'" style="height: 8vw">
        <!--<ion-icon name="alarm"></ion-icon>-->
        <div style="margin-top: -15px !important; font-family: 'Arial Black'; font-size : 2.5vw" [style.color]="selector=='vocabulary'?'#d15354':'#4ec5d5'">
          VOCABULARY
        </div>
      </ion-segment-button>
      <ion-segment-button value="news">
        <img src="assets/imgs/news_icon_r.png" *ngIf="selector=='news'" style="height: 8vw">
        <img src="assets/imgs/news_icon_g.png" *ngIf="selector!='news'" style="height: 8vw">
        <!--<ion-icon name="alarm"></ion-icon>-->
        <div style="margin-top: -15px !important; font-family: 'Arial Black';  font-size : 2.5vw " [style.color]="selector=='news'?'#d15354':'#4ec5d5'">
          NEWS
        </div>
      </ion-segment-button>
      <ion-segment-button value="task">
        <img src="assets/imgs/task_icon_r.png" *ngIf="selector=='task'" style="height: 8vw">
        <img src="assets/imgs/task_icon_g.png" *ngIf="selector!='task'" style="height: 8vw">
        <!--<ion-icon name="alarm"></ion-icon>-->
        <div style="margin-top: -15px !important; font-family: 'Arial Black'; font-size : 2.5vw " [style.color]="selector=='task'?'#d15354':'#4ec5d5'">
          TASK
        </div>
      </ion-segment-button>
      <ion-segment-button value="esame">
        <img src="assets/imgs/exam_icon_r.png" *ngIf="selector=='esame'" style="height: 8vw">
        <img src="assets/imgs/exam_icon_g.png" *ngIf="selector!='esame'" style="height: 8vw">
        <!--<ion-icon name="alarm"></ion-icon>-->
        <div style="margin-top: -15px !important;  font-family: 'Arial Black'; font-size : 2.5vw " [style.color]="selector=='esame'?'#d15354':'#4ec5d5'" >
          ESAME
        </div>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="selector">
        <ion-list  *ngSwitchCase="'vocabulary'" no-lines>
          <!--<ion-scroll scrollY="true" style="width: 100%;  height: 67vh">-->

          <ion-item *ngFor="let voc of vocList" [style.background-color]="voc.passed?'#53c0d0':'#979696'" style="margin-top: 4vw; font-family: Arial">
            <div style="color: white; padding: 2vw; font-size: 3.2vw; font-weight: bold">{{voc.title}}</div>
            <img src="{{voc.icon}}" style="width: 22vw"/>
            <div style="font-size: 3.5vw;color: white; padding: 2vw; position: absolute; left : 30vw; top : 5vw; white-space: normal; " >{{voc.desc}}</div>
          </ion-item>
          <!--</ion-scroll>-->
        </ion-list >
        <ion-list *ngSwitchCase="'task'" no-lines>
          <!--<ion-scroll scrollY="true" style="height: 67vh;width: 100%; ">-->
          <ion-item *ngFor="let task of tasks;let i = index">
            <div class="task_des" [style.background-color]="task.passed?'#4ec5d5':'#9a9a9a'" item-left>
              TASK {{i+1}}<br>
              <img src="assets/imgs/popup_icon_w.png" style="width: 10vw; margin: 2vw" float-start>
              <div style="padding-top  : 2vw; font-size: 3vw">{{task.desc}}</div>
            </div>
            <div class="task_point" [style.background-color]="task.passed?'#4ec5d5':'#9a9a9a'" item-right>
              {{task.point}} pt
            </div>
          </ion-item>
          <!--</ion-scroll>-->
        </ion-list>
        <ion-list  *ngSwitchCase="'news'" no-lines>
          <!--<ion-scroll scrollY="true" style="position : absolute; height: 67vh; width: 100%" >-->
          <ion-item *ngFor="let new of news;let i = index" style="margin: 2vw">
            <div *ngIf="i==0" style="margin-left: 2vw">
              <div style="font-weight : bold;font-size: 2.5vw; font-family: 'Myriad Pro'">NEWS 1</div>
              <div style="color : #999;font-size: 2.5vw; font-family: Gotham">{{new.date}}</div>
              <img src="{{new.photoUrl}}"  style="width: 50vw; padding : 5px">
              <div style="width: 90vw; white-space: normal;font-size: 2.7vw">{{new.desc}}</div>
            </div>
            <div *ngIf="i>0" style="margin-left: 2vw">
              <img src="{{new.photoUrl}}" style="width: 35vw; padding : 5px" float-start>
              <div style="font-weight : bold;font-size: 2.5vw">NEWS {{i+1}}</div>
              <div style="color: #999;font-size: 2.5vw">{{new.date}}</div>
              <div style="width: 90vw; white-space: normal;font-size: 2.7vw">{{new.desc}}</div>
            </div>
          </ion-item>
          <!--</ion-scroll>-->
        </ion-list>
      <ion-list *ngSwitchCase="'esame'" no-lines>
        <ion-item style="background-color: #4ec5d5;font-size: 3vw; color: white;">
          <img src="assets/imgs/exam_icon.png" style="height: 7vw; margin-left: 2vw" item-start >
          <div style="padding: 0 20px; font-family: Arial; font-size: 3vw;">COLLABORATION AND DIGITAL WORKSPACE</div>
        </ion-item>
        <!--<ion-scroll scrollY="true" style="width:100%; height: 60vh">-->
          <ion-item *ngFor="let ess of esameList" >

            <img src="assets/imgs/{{ess.icon}}_icon_g.png" item-left style="height:8vw; margin: 2vw">
            <div style="background-color: #4ec5d5; width: 75vw;height: 20vw; border-radius:0 8vw 8vw 0; padding :2vw 2vw 2vw 2vw; color: #FFF; margin-top: 3vw;">
              <span style="font-size: 3vw; font-family: Arial; font-weight: bold;">{{ess.title}}</span>
              <rating [(ngModel)]="ess.rate"
                      readOnly="true"
                      max="5"
                      emptyStarIconName="star-outline"
                      halfStarIconName="star-half"
                      starIconName="star"
                      nullable="false"
                      float-right></rating>
              <div style="font-size: 2.5vw; padding-top : 3vw; width: 70vw; white-space: normal" >
                {{ess.desc}}
              </div>
            </div>
          </ion-item>
        <!--</ion-scroll>-->

      </ion-list>
    </div>
  </div>

</ion-content>
