<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="pf_image">
    <ion-navbar transparent hideBackButton style="text-align: center">
      <ion-buttons style="position: absolute; left: -2vw; top: 2vw">
        <button icon-only menuToggle style="background-color : white;" >
          <ion-icon ios="ios-menu" md="md-menu" style=" width: 5vw !important;"></ion-icon>
        </button>
      </ion-buttons>
      <img src="assets/imgs/logo.png" style="width: 15vw;">
    </ion-navbar>
    <div class="pf_view">
      <img src="assets/imgs/no_profile.png" class="profile" (click)="openDashBoard()">
    </div>
    <div  style="width:33vw; top: 11.3vw; left: 19.8vw; position: absolute">
    <!--<div  style="width:20vw;top: 15vw; left: 24vw; position: absolute">-->

      <!--<img src="assets/imgs/round.png">-->

      <chart [options]="chartOptions1" type="chart"></chart>
      <!--<div id="box"/>-->
    </div>
    <img src="assets/imgs/blank_profile.jpg" class="pf_img">
    <div style="width:30vw;top: 17vw; left: 45vw;   position: absolute">
      <div style="color: #54c1d1; font-size: 3vw; font-family: 'Arial Black';">START</div>
      <div style="color: #54c1d1;font-weight: bold; font-size: 8vw; line-height: 0.9;font-family: 'Arial Black';">{{percentage}}%</div>
      <div style="font-size: 3.2vw">Dr.Mario rossi</div>
      <div style="font-size: 2.5vw;">Marketing</div>
      <div style="color: #54c1d1; font-size: 3.2vw;font-family: 'Arial Black';">480 pt</div>
    </div>
  </div>
  <div class="pf_desc">
    Bentornato,<br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
    gravida ipsum non libero suscipit, sit amet condimentum odio
    Maecenas ac iaculis mi, vitae venenatis mauris.
  </div>
  <div class="pf_short">
    Sono fl piu' bravo di tutti
    <button class="btn_mod">Modifica</button>
  </div>
  <div class="pf_workout">
    <div style="color: #54c1d1; font-family: Arial; font-weight:bold;font-size: 3.8vw">WORKOUT</div>
    <ion-grid style="padding: 0 20px">
      <ion-row >
        <ion-col col-3>
          <div style="font-size: 3.5vw">VIDEO</div>
          <img src="assets/imgs/video_icon.png" style="width: 10vw" (click)="openVideo()"><br>
          <button style="background-color: #b7d433; font-size: 5vw; padding: 2px 20px">10</button>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/vertical_bar.png" style="height: 20vw; width: 0.3vw">
        </ion-col>
        <ion-col col-4>
          <div style="font-size: 3.5vw">TEST</div>
          <img src="assets/imgs/test_icon.png" style="width: 10vw" (click)="openTest()"><br>
          <button style="background-color: #b7d433; font-size: 5vw; padding: 2px 20px">12</button>
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/vertical_bar.png" style="height: 20vw; width: 0.3vw">
        </ion-col>
        <ion-col col-3>
          <div style="font-size: 3.5vw">TASK</div>
          <img src="assets/imgs/task_icon.png" style="width: 10vw" (click)="openTask()"><br>
          <button style="background-color: #b7d433; font-size: 5vw; padding: 2px 20px">6</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="pf_traininglevel">
    <div style="color: #54c1d1; font-weight: bold; font-size: 3.8vw; font-family: Arial;">
      LIVELLO DI ALLENAMENTO SETTIMANALE
    </div>
    <div>
      <chart [options]="chartOptions" type="chart"></chart>

      <!--<chart [options]="chartOptions1" type="chart"></chart>-->
    </div>
  </div>

</ion-content>
