page-profile {

  .toolbar-content .toolbar-content-md {
    margin-top: -5vw;
  }
  .pf_image {
    height: 30vw;
    margin: auto;
    z-index: 2;
    position: relative;
  }
  .pf_desc {
    width: 100vw;
    height: 17vw;
    top : 20vw;
    position: relative;
    background-color: #54c1d1;
    padding: 10px;
    font-size: 2.7vw;
    white-space: normal;
  }
  .pf_short {
    position: relative;
    top : 20vw;
    margin-top: 4vw;
    width: 100%;
    height: 20vw;
    background-color: #54c1d1;
    padding : 10px;
    font-size: 3vw;
  }
  .pf_workout {
    position: relative;
    top : 20vw;
    width: 100%;
    height: 20vw;
    padding : 10px;
    text-align: center;

  }
  .pf_traininglevel {
    font-family: Arial;
    position: relative;
    top : 30vw;
    width: 100%;
    height: 50vw;
    margin-top: 3vw;
    text-align: center;
  }
  .pf_img {
    width: 15vw;
    top : 19.6vw ;
    left : 29vw;
    border-radius: 7.5vw;
    position: absolute
  }
  .pf_round {
    width:32vw;
    top: 11.3vw;
    left: 20.5vw;
    position: absolute
  }
  .pf_view {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 0;
    right: 0;
    background-image: url('../assets/imgs/profile_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
  }
  .btn_mod {
    background-color: #777;
    width: 18vw;
    height: 7vw;
    position: absolute;
    left: auto;
    right: 2vw;
    top: 13vw;
    font-size: 3vw;
  }
  .profile {
    width: 17vw;
    margin: 3vw 3vw 3vw 3.4vw;
    border-radius: 10vw;
    -webkit-border-radius:10vw;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .line_mode {
    height: 35vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 28vw;
    z-index: 2;
    font-size: 3vw;
  }

  .icon {
    font-size: 5vw;
  }
}
