<!--
  Generated template for the PopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div class="main">
    <button ion-fab class="popup_close" (click)="closePopup()">
      <ion-icon ios="ios-close" md="md-close" style="font-size: 4vw"></ion-icon>
    </button>

    <div padding>
      <img src="assets/imgs/popup_icon1.png" width="50vw">
    </div>
    <div style="font-size: 4vw; padding: 2vw">
      BRAVD!
    </div>
    <div style="font-size: 3vw;">
      Iorem ipsum dolor sic amet lorem ipsum dolor sic<br>
      Iorem ipsum dolor sic amet<br>
      Iorem ipsum dolor sic amet
    </div>
    <div>
      <ion-buttons>
        <button ion-button item-left class="popup_btn" (click)="openProfile()">VAI</button>
        <button ion-button item-right class="popup_btn" (click)="closePopup()">RIPROVA</button>
      </ion-buttons>
    </div>
  </div>

</ion-content>
