page-popup {
  .content {
    background: rgba(76,210,226,0.5);
    position: relative;
  }
  .main {
    //background: rgba(200,210,200,0.9);
    //width: 85vw;
    //position: absolute;
    height: 45vh;
    margin-left: 5vw;
    margin-right : 5vw;
    margin-top: 30vh;
    background-color: #dce689;
    border-style : solid;
    border-color : #4ec5d5;
    text-align: center;
    box-shadow: 2px 2px 2px #000;
  }

  .toolbar-content .toolbar-content-md {
    margin-top: -3vw;
  }
  .popup_btn {
    width: 35%;
    margin: 4vw;
    font-size: 3vw;
    color: #000;
    background-color: #b7d433;
    box-shadow: 2px 2px 2px #999;
  }
  .popup_close {
    position: absolute;
    top: 30vh;
    left: auto;
    right : 5vw;
    bottom: auto;
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
    color : black;
    background-color: #b7d433;
    box-shadow: 2px 2px 2px #999;
  }
}
