// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #d15354,
  secondary:  #FFF,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$modal-inset-width : 1024px;
$modal-inset-min-width : 1024px;
$modal-inset-min-height-large : 1366px;
$modal-inset-height-large : 1366px;

$menu-width	: 200px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$label-ios-text-color : black;
$searchbar-ios-input-background-color  : #a3be3a;
$tabs-ios-tab-icon-color  : #4ec5d5;
$tabs-ios-tab-text-color : #4ec5d5;
$tabs-ios-tab-icon-color-active : #d15354;
$tabs-ios-tab-text-color-active : #d15354;
$tabs-ios-tab-font-size : 11px;
$segment-button-ios-height : 60px;

  // App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$label-md-text-color : black;
$searchbar-md-input-background-color : #a3be3a;
$tabs-md-tab-icon-color  : #4ec5d5;
$tabs-md-tab-text-color : #4ec5d5;
$tabs-md-tab-icon-color-active : #d15354;
$tabs-md-tab-text-color-active : #d15354;
$tabs-md-tab-font-size : 11px;
$segment-button-md-height : 60px;
  // App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
//$font-family-md-base: "Gotham";
//$font-family-ios-base: "Gotham";
//$font-family-wp-base: "Gotham";
$font-family-md-base: "Vitesse";
$font-family-ios-base: "Vitesse";
$font-family-wp-base: "Vitesse";

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
