// http://ionicframework.com/docs/theming/
@font-face {
  font-family: 'Gotham';
  //src:url('../assets/fonts/Gotham-Bold.ttf') format('truetype');
  //src:url('../assets/fonts/Gotham-BoldItalic.ttf') format('truetype');
  //src:url('../assets/fonts/Gotham-Ultra.ttf') format('truetype');
  //src:url('../assets/fonts/Gotham-UltraItalic.ttf') format('truetype');
  src:url('../assets/fonts/Gotham-Bold.otf') format('otf');
  //src:url('../assets/fonts/Gotham-BookItalic.otf') format('otf');
  //src:url('../assets/fonts/Gotham-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vitesse';
  //src:url('../assets/fonts/Vitesse-Bold.otf');
  src:url('../assets/fonts/Vitesse-Medium.otf');
  font-weight: normal;
  font-style: normal;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
