<ion-menu [content]="content" persistent="true">
  <ion-content style="background-color: #b7d433;">
    <button ion-button icon-only style="color: black" clear menuClose >
      <ion-icon ios="ios-close" md="md-close"></ion-icon>
    </button>
    <ion-buttons>
      <button ion-button clear small style="color: black" menuClose  (click)="openDashBoard()">
        START
      </button>
      <br>
      <button ion-button clear small style="color: black" menuClose (click)="openProfile()">
        PROFILO
      </button>
      <br>
      <button ion-button clear small style="color: black" menuClose (click)="openSocial()">
        SOCIAL
      </button>
      <br>
      <button ion-button clear small style="color: black" menuClose (click)="openGuida()" >
        GUIDA
      </button>
      <br>
      <button ion-button clear small style="color: black" menuClose (click)="logOut()">
        LOGOUT
      </button>
    </ion-buttons>
    <div padding style="font-size: 15px">
      Ricerca
      <ion-searchbar no-padding style="background-color: transparent;"></ion-searchbar>
    </div>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
