page-dash-start {
  ion-icon {
    font-size : 4rem;
    color: black;
  }
  .toolbar-content .toolbar-content-md {
    margin-top: -5vw;
  }

  .bg_top {
    //width: 100%;
    height: 60vw;
    background-image : url('../assets/imgs/back_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
    position: relative;
  }
  .bg_top1 {
    //width: 100%;
    height: 60vw;
    background-image : url('../assets/imgs/back_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
    position: relative;
  }
  .pf_view {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 0;
    right: 0;
    background-image: url('../assets/imgs/profile_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    z-index: 2;
  }
  .pf_view1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 0;
    right: 0;
    background-image: url('../assets/imgs/profile_back_pink.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    z-index: 2;
  }
  .profile {
    width: 17vw;
    margin: 3vw 3vw 3vw 3.4vw;
    border-radius: 10vw;
    -webkit-border-radius:10vw;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .pr_name {
    right : 5vw;
    left : auto;
    top : 23vw;
    position: absolute;
    font-size: 2.5vw;

  }

  .pr_role {
    right : 5vw;
    left : auto;
    top : 26vw;
    position: absolute;
    font-size: 2.5vw;
  }
  .card_tri {
    position: absolute;
    margin-top: 0.5vw;
    width: 12vw;
    margin-left:33.5vw
  }
  .card_icon {
    position: absolute;
    width: 14vw;
    left: 18vw;
    top : 3vw;
  }

  .bar_icon {
    position: absolute;
    top : 22vw;
    width: 40vw;
    left: 5vw;
  }
  .card_title {
    position : absolute;
    top : 19vw;
    font-size : 3vw;
    width: 95%;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 0 2vw;
    //font-family: Vitesse !important;
  }
  .card_desc {
    position : absolute;
    top : 30vw;
    font-size : 3vw;
    width: 95%;
    color: white;
    text-align: center;
    padding : 0 10vw
  }
  .card_btn {
    padding : 4vw;
    position : absolute;
    top : 35vw;
    width: 95%;
    color: black;
    text-align: center;
    font-family: "Myriad Pro";
  }
  .card_btn1 {
    background-color: #c4d22e;
    width: 30vw;
    height: 5vw;
    font-size : 2vw;
  }
  .progress-outer {
    width: 100%;
    margin: 10px 0 0 0;
    //text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
  }

  .progress-inner {
    min-width: 15%;
    //white-space: nowrap;
    font-family: Arial;
    overflow: hidden;
    padding: 5px;
    font-size: 1rem;
    background-color: #4ec5d5;
  }
  .progress-inner1 {
    min-width: 15%;
    //white-space: nowrap;
    font-family: Arial;
    overflow: hidden;
    padding: 5px;
    font-size: 1rem;
    background-color: #ef4c80;
  }
  .progress-side {
    position: absolute;
    font-size: 1rem;
    top : 0;
    color :  #4ec5d5;
    height: 100%;
    width: 30px;
    margin: 15px 0 0 10px;
  }
  .progress-side1 {
    position: absolute;
    font-size: 1rem;
    top : 0;
    color :  #ef4c80;
    height: 100%;
    width: 30px;
    margin: 15px 0 0 10px;
  }

  .icon {
    font-size: 5vw;
  }
}
