<!--
  Generated template for the DashStartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div [class]="isComplete?'bg_top1':'bg_top'">
    <ion-navbar transparent hideBackButton style="text-align: center">
      <ion-buttons style="position: absolute; left: -2vw; top: 2vw">
        <button icon-only menuToggle style="background-color : white;" >
          <ion-icon ios="ios-menu" md="md-menu" style=" width: 5vw !important;"></ion-icon>
        </button>
      </ion-buttons>
      <img src="assets/imgs/logo.png" style="width: 15vw;">
    </ion-navbar>
    <div [class]="isComplete?'pf_view1':'pf_view'">
      <img src={{profile.photoUrl}} class="profile"  (click)="openProfile()">
      <div class="pr_name">{{profile.name}}</div>
      <div class="pr_role">{{profile.role}}</div>
    </div>
  </div>
  <div>
    <ion-row wrap>
      <ion-col *ngFor="let i of items" col-6>
        <div class="list card" style="width: 46vw;height: 46vw;" [style.background-color]="card_Back_b[i-1].step==0?'#4ec5d5':'#f05c8c'">
          <!--<img src={{card_Back_b[i-1].src}} style="width:100%">-->
          <img src='assets/imgs/tri_icon.png' class="card_tri">
          <img src='assets/imgs/icon{{i}}.png' class="card_icon">
          <img src='assets/imgs/white_bar.png' class="bar_icon">
          <div class="card_title">{{card_Back_b[i-1].title}}</div>
          <div class="card_desc">{{card_Back_b[i-1].desc}}</div>
          <div class="card_btn">
            <button class="card_btn1" (click)="openPopup()">INIZIA ALLENAMENTO</button>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <div class="progress-outer">
    <div [class]="isComplete?'progress-inner1':'progress-inner'" [style.width]="progress + '%'">
      PROGRAMMA START
    </div>
    <div [class]="isComplete?'progress-side1':'progress-side'" [style.left]="progress+'%'">
      {{progress}}%
    </div>
  </div>
</ion-footer>
