<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div ion-fixed style="width: 100%;">
    <div style="height: 30vw">
      <ion-navbar transparent hideBackButton style="text-align: center">
        <ion-buttons style="position: absolute; left: -2vw; top: 2vw">
          <button icon-only menuToggle style="background-color : white;" >
            <ion-icon ios="ios-menu" md="md-menu" style=" width: 5vw !important;"></ion-icon>
          </button>
        </ion-buttons>
        <img src="assets/imgs/logo.png" style="width: 15vw;">
      </ion-navbar>
      <div class="pf_view">
        <img src={{profile.photoUrl}} class="profile" (click)="openProfile()">
        <div class="pr_name">{{profile.name}}</div>
        <div class="pr_role">{{profile.role}}</div>
      </div>
    </div>

    <!--<ion-scroll scrollY="true" style="height: 78vh; ">-->
      <ion-list no-lines>
        <ion-item *ngFor="let new of news;let i = index">
          <div *ngIf="i==0">
            <div style="font-weight : bold;font-size: 2.5vw">NEWS 1</div>
            <div style="color : #999;font-size: 2.5vw">{{new.date}}</div>
            <img src="{{new.photoUrl}}"  style="width: 50vw; padding : 5px">
            <div style="width: 90vw; white-space: normal;font-size: 2.7vw">{{new.desc}}</div>
          </div>
          <div *ngIf="i>0">
            <img src="{{new.photoUrl}}" style="width: 35vw; padding : 5px" float-start>
            <div style="font-weight : bold;font-size: 2.5vw">NEWS {{i+1}}</div>
            <div style="color: #999;font-size: 2.5vw">{{new.date}}</div>
            <div style="width: 90vw; white-space: normal;font-size: 2.7vw">{{new.desc}}</div>
          </div>
        </ion-item>
      </ion-list>
    <!--</ion-scroll>-->
  </div>
</ion-content>
