<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <div class="pf_image">
    <ion-navbar transparent hideBackButton style="text-align: center">
      <ion-buttons style="position: absolute; left: -2vw; top: 2vw">
        <button icon-only menuToggle style="background-color : white;" >
          <ion-icon ios="ios-menu" md="md-menu" style=" width: 5vw !important;"></ion-icon>
        </button>
      </ion-buttons>
      <img src="assets/imgs/logo.png" style="width: 15vw;">
    </ion-navbar>
    <div class="pf_view">
      <img src="assets/imgs/blank_profile.jpg" class="profile" (click)="openDashBoard()">
    </div>
  </div>
  <ion-list no-lines>
    <ion-item *ngFor="let result of results ;let i = index">
      <div style="background-color: #4ec5d5; white-space: normal;font-weight : bold; padding: 3vw; font-size: 3vw; font-family: Vitesse">
        <div style="font-size: 3.5vw;margin-bottom: 2vw; font-family: Gotham">SEARCH {{i+1}}</div>
        <div style=" font-family: Vitesse">{{result.desc}}</div>

      </div>
    </ion-item>
  </ion-list>
</ion-content>
