page-search {
  .pf_image {
    height: 25vw;
    margin: auto;
    z-index: 2;
    position: relative;
  }

  .toolbar-content .toolbar-content-md {
    margin-top: -5vw;
  }
  .pf_view {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 0;
    right: 0;
    background-image: url('../assets/imgs/profile_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    z-index: 2;
  }

  .profile {
    width: 17vw;
    margin: 3vw 3vw 3vw 3.4vw;
    border-radius: 10vw;
    -webkit-border-radius:10vw;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }

  .label {
    margin: 0;
    min-height: 6vw;
  }
  .item {
    border: solid #dddddd;
    border-radius: 2px;
    border-width: 0;
    padding: 1vw 0 !important;
    margin-bottom: 0;
    max-height: 45rem;
  }
  .item-inner {
    padding: 0!important;
  }
  .icon {
    font-size: 5vw;
  }
}
