<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div ion-fixed style="width: 100%;">
    <div style="height: 30vw">
      <ion-navbar transparent hideBackButton style="text-align: center">
        <ion-buttons style="position: absolute; left: -2vw; top: 2vw">
          <button icon-only menuToggle style="background-color : white;" >
            <ion-icon ios="ios-menu" md="md-menu" style=" width: 5vw !important;"></ion-icon>
          </button>
        </ion-buttons>
        <img src="assets/imgs/logo.png" style="width: 15vw;">
      </ion-navbar>
      <div class="pf_view">
        <img src={{profile.photoUrl}} class="profile"  (click)="openProfile()">
        <div class="pr_name">{{profile.name}}</div>
        <div class="pr_role">{{profile.role}}</div>
      </div>
    </div>

    <!--<ion-scroll scrollY="true" style="height: 78vh">-->
      <ion-list no-lines>
        <ion-item *ngFor="let task of tasks;let i = index">
          <div class="task_des" [style.background-color]="task.passed?'#4ec5d5':'#9a9a9a'" item-left>
            TASK {{i+1}}<br>
            <img src="assets/imgs/popup_icon_w.png" style="width: 10vw; margin: 2vw" float-start>
            <div style="padding-top  : 2vw; font-size: 3vw">{{task.desc}}</div>
          </div>
          <div class="task_point" [style.background-color]="task.passed?'#4ec5d5':'#9a9a9a'" item-right>
            {{task.point}} pt
          </div>
        </ion-item>
      </ion-list>
    <!--</ion-scroll>-->
  </div>
</ion-content>
