page-task {

  .toolbar-content .toolbar-content-md {
    margin-top: -5vw;
  }
  .content {
    font-family: Arial;
  }
  .pr_name {
    font-family: Vitesse;
    right : 5vw;
    left : auto;
    top : 23vw;
    position: absolute;
    font-size: 2.5vw;
  }
  [ion-fixed] {
    height: 100%;
  }
  .profile {
    width: 17vw;
    margin: 3vw 3vw 3vw 3.4vw;
    border-radius: 10vw;
    -webkit-border-radius:10vw;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .pr_role {
    font-family: Vitesse;
    right : 5vw;
    left : auto;
    top : 26vw;
    position: absolute;
    font-size: 2.5vw;
  }
  .pf_view {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 0;
    right: 0;
    background-image: url('../assets/imgs/profile_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    z-index: 2;
  }
  .label {
    margin: 0;
  }
  .item {
    border: solid #dddddd;
    border-width: 1vw;
    padding: 0!important;
    margin : 0!important;
  }
  .item-inner {
    padding: 0!important;
  }
  .input_wrapper {
    width: 4vw;
  }
  .task_des {
    width: 60vw;
    height: 30vw;
    color: white;
    padding : 2vw;
    font-size: 3.5vw;
    margin : 0 !important;
  }
  .task_point {
    width : 38vw;
    height:  30vw;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 12vw;
    margin-right: 0 !important;
  }

  .progress-outer {
    width: 100%;
    margin: 10px 0 0 0;
    //text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
  }

  .progress-inner {
    min-width: 15%;
    //white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    font-size: 1rem;
    background-color: #4ec5d5;
  }
  .progress-side {
    position: absolute;
    font-size: 1rem;
    top : 0;
    color :  #4ec5d5;
    height: 100%;
    width: 30px;
    margin: 15px 0 0 10px;
  }
}
