<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="pf_image">
    <ion-navbar transparent hideBackButton style="text-align: center">
      <ion-buttons style="position: absolute; left: -2vw; top: 2vw">
        <button icon-only menuToggle style="background-color : white;" >
          <ion-icon ios="ios-menu" md="md-menu" style=" width: 5vw !important;"></ion-icon>
        </button>
      </ion-buttons>
      <img src="assets/imgs/logo.png" style="width: 15vw;">
    </ion-navbar>
    <div class="pf_view">
      <img src="assets/imgs/blank_profile.jpg" class="profile" (click)="openDashBoard()">
    </div>
  </div>
  <ion-list no-lines>
    <!--<ion-scroll scrollY style="width: 100%; height: 78vh">-->
      <ion-item>
        <img src="{{event.photoUrl}}"  style="width: 17.4vw; height: 17.4vw; border-radius: 10vw; padding : 1.5vw"  item-start>
        <div style="font-size: 2.5vw; font-weight: bold">{{event.name}}</div>
        <div style="font-size: 2.2vw; color: #aaa">{{event.weeks}} weeks ago</div>
        <div style="font-size: 2.5vw; white-space: normal">
          {{event.content}}
        </div>
        <div *ngIf="event.imgUrl!=''">
          <img src="{{event.imgUrl}}">
        </div>
        <div>
          <ion-item no-lines>
            <ion-buttons style="margin-top: 3vw">
              <button ion-button float-left icon-only clear (click)="takeMeFavorite()" style="height: 5vw;">
                <ion-icon ios="ios-heart-outline" md="md-heart-outline" [ngStyle]="{'color': favor_flag=='1' ? '#F00': '#222'}" style="font-size: 3vw"></ion-icon>
                <span style="font-size: 2.5vw; color: black">{{event.num_favor}} likes</span>
              </button>
              <button ion-button float-right icon-only clear (click)="takeMeComment()"  style="height: 5vw;" >
                <ion-icon ios="ios-text-outline" md="md-text" [ngStyle]="{'color': comment_flag=='1' ? '#f00': '#000'}"  style="font-size: 3vw"></ion-icon>
                <span style="font-size: 2.5vw; color: black">{{event.num_comments}} comments</span>
              </button>
            </ion-buttons>
          </ion-item>

        </div>

      </ion-item>

    <div style="background-color: #aaa; height: 0.3vw; width: 95%;margin-left: 2.5%"></div>
      <ion-item *ngFor="let comment of comments" style="margin-left: 20vw;">

        <img src="{{comment.photoUrl}}"  style="width: 10vw; height: 10vw; border-radius: 5vw; padding : 1.5vw; position: absolute;">
        <div style="font-size: 2.5vw; font-weight: bold; margin-left: 12vw">{{comment.name}}</div>
        <div style="font-size: 2.2vw; color: #aaa;margin-left: 12vw">{{comment.weeks}} weeks ago</div>
        <div style="font-size: 2.5vw; white-space: normal;margin-left: 12vw; min-height: 5vw;font-family: Gotham">
          {{comment.content}}
        </div>
        <div style="background-color: #aaa; height: 0.3vw; width: 77vw;"></div>
      </ion-item>

      <ion-item>

        <img src="assets/imgs/blank_profile.jpg"  style="width: 17.4vw; height: 17.4vw; border-radius: 10vw; padding : 1.5vw"  item-start>
        <ion-label style="font-weight: bold; font-size: 2.5vw; position: absolute">Mario Rossl</ion-label>
        <ion-textarea type="text"  rows="4" style="margin: 5vw 0 0 0!important; font-family: Gotham"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-buttons>
          <button icon-only style="background-color: transparent" float-right>
            <ion-icon ios="ios-send" md="md-send" style="width: 8vh"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
    <!--</ion-scroll>-->
  </ion-list>
</ion-content>
